@tailwind base;
.heeey {}
@tailwind components;
@tailwind utilities;

.font-body{
	font-family:'Montserrat', sans-serif !important;
}
.font-heading{
	font-family: 'Poppins', sans-serif !important;
}

.price--line-through{
    background-color: transparent;
    background-image: gradient(linear, 19.1% -7.9%, 81% 107.9%, color-stop(0, transparent), color-stop(.48, transparent), color-stop(.5, #000), color-stop(.52, transparent), color-stop(1, transparent));
    background-image: repeating-linear-gradient(163deg, transparent 0%, transparent 48%, #374151 50%, transparent 52%, transparent 100%);
}